<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>BROWSERGAME</title>


<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link
	href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic"
	rel="stylesheet"> -->
<link rel="stylesheet" href="css\theme\_bootswatch.scss">
<link rel="stylesheet" href="css\theme\_variables.scss">
<link rel="stylesheet" href="css\theme\bootstrap.css">
<link rel="stylesheet" href="css\theme\bootstrap.min.css">
<link rel="stylesheet" href="css\views\admin_portal.css">



</head>

<body>

	<nav
		class="navbar navbar-expand-lg navbar-dark bg-primary rounded-bottom sticky-top">

		<div class="container">


			<a class="navbar-brand" href="/profile"> <i class="fa fa-d-and-d"></i>
				Browsergame
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>

			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active mr-1"><a class="nav-link"
						href="/admin_portal"> <i class="fa fa-user-shield"></i>Admin
							Portal
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link" href="#">
							<i class="fa fa-facebook-f"></i> Facebook <span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link" href="#">
							<i class="fa fa-reddit"></i> Reddit
					</a></li>
					</li>
					<li class="nav-item active mr-1"><a class="nav-link" href="#">
							<i class="fa fa-twitch"></i>Twitch
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link"
						href="/profile"> <i class="fa fa-user"></i>Profile
					</a></li>
				</ul>


			</div>


		</div>

	</nav>

	<div class="container">
		<div class="container mt-3 mb-3">
			<div class="row d-flex justify-content-center">
				<div
					class="card-header w-75 text-white d-flex justify-content-center bg-primary">User
					Comments</div>
				<div class="card w-75" id="card-template">
					<div class="card-body bg-secondary" id="template-body">
						<ul class="list-group comments-list">



						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ENTRY TEMPLATE -->
	<ul class="list-group bg-secondary d-none"
		id="comment-template-comment">
		<li class="list-group-item bg-secondary"
			id="list-group-template-comment">

			<div class="card">
				<div
					class="card-header text-white bg-primary d-flex justify-content-center">Comment</div>
				<div class="card-body bg-secondary">
					<div class="row d-flex justify-content-center">

						<label>Commenter name: </label>
						<p class="commenter-name ml-3"></p>
					</div>
					<div class="row">
						<label>Email:</label>
						<p class="commenter-email ml-3"></p>
					</div>
					<div class="row">
						<label>Comment:</label>
						<p class="commenter-comment ml-3"></p>
					</div>

				</div>
				<div class="card-footer bg-primary d-flex justify-content-end">
					<button data-toggle="modal" data-target="#confirmDeleteModal"
						type="button" class="btn btn-danger btn-sm remove-comment">Delete</button>
				</div>
			</div>

		</li>
	</ul>

	<div class="modal fade" id="confirmDeleteModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h5 class="modal-title text-white">Delete comment</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body bg-secondary text-white">Are you sure
					you want to delete this comment?</div>
				<div class="modal-footer bg-primary">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">No</button>
					<button id="confirm-delete" type="button" class="btn btn-danger">Yes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="container mt-3 mb-3">
			<div class="row d-flex justify-content-center">
				<div
					class="card-header w-75 text-white d-flex justify-content-center bg-primary">News
					Update</div>
				<div class="card w-75" id="card-template">
					<div class="card-body bg-secondary" id="template-body">
						<div class="row">
							<div class="row">
								<div class="col-sm-6 form-group">
									<input class="form-control" id="newsTitle" name="title"
										placeholder="Title" type="text" required>
								</div>
								<div class="col-sm-6 form-group">
									<input class="form-control" id="newsImage" name="image"
										placeholder="Image" type="text" required>
								</div>
							</div>
							<textarea class="form-control" id="newsText"
								name="text" placeholder="News Text" rows="5"></textarea>
							<br>
							<div class="row mt-3">
								<div class="col-md-12 form-group d-flex justify-content-end">
									<button id="submitNews" type="button"
										class="btn btn-primary">Send</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<!-- Footer -->
	<footer class="text-center">
		<a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a><br> <br>
		<p>This amateur attempt at a browser game site is made by GU and
			IL</p>
	</footer>





	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="../javascript/adminPortal.js"></script>
</body>