<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>BROWSERGAME</title>


<!-- <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">
<!-- <link
	href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic"
	rel="stylesheet"> -->
<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="css\theme\_bootswatch.scss">
<link rel="stylesheet" href="css\theme\_variables.scss">
<link rel="stylesheet" href="css\theme\bootstrap.css">
<link rel="stylesheet" href="css\theme\bootstrap.min.css">
<link rel="stylesheet" href="css\views\character_creator.css">



</head>

<body>

	<nav
		class="navbar navbar-expand-lg navbar-dark bg-primary rounded-bottom sticky-top">

		<div class="container">


			<a class="navbar-brand" href="/profile"> <i class="fa fa-d-and-d"></i>
				Browsergame
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>

			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active mr-1"><a class="nav-link"
						href="/training"> <i class="fa fa-id-badge"></i>Training
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link"
						href="/missions"> <i class="fa fa-id-badge mr-2"></i>Missions
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link"
						href="/character_creator"> <i class="fa fa-id-badge mr-2"></i>Characters
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link"
						href="/shop"> <i class="fa fa-shopping-cart mr-2"></i>Shop
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link" href="#">
							<i class="fa fa-facebook-f mr-2"></i> Facebook <span
							class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link" href="#">
							<i class="fa fa-reddit mr-2"></i> Reddit
					</a></li>
					</li>
					<li class="nav-item active mr-1"><a class="nav-link" href="#">
							<i class="fa fa-twitch mr-2"></i>Twitch
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link"
						href="/profile"> <i class="fa fa-user mr-2"></i>Profile
					</a></li>
					<li class="nav-item active"><a class="nav-link" href=#><i
							class="fas fa-medal mr-1"></i> </a></li>
					<li class="nav-item active mr-1"><a class="nav-link"
						id="guildPoints" href=#> </a></li>
					<li class="nav-item active"><a class="nav-link" href=#> <i
							class="fa fa-coins mr-1"></i>
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link" id="gold"
						href=#> </a></li>
					<li class="nav-item active"><a class="nav-link" href=#> <i
							class="fa fa-gem mr-1"></i>
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link"
						id="crystal" href=#> </a></li>
				</ul>


			</div>


		</div>

	</nav>

	<div class="container">
		<div class="row mt-5 d-flex justify-content-center">
			<div
				class="card-header w-75 text-white d-flex justify-content-center bg-primary">Character
				Creator</div>
			<div class="card w-75">
				<div class="card-body bg-secondary">
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="form-group">
									<label for="character-name">Character name :</label> <input
										type="text" class="form-control" id="character-name"
										placeholder="My name is" val="">
								</div>
							</div>
						</div>
						<div class="col-md-8">
							<div class="row">
								<div class="col stat-select">
									<label for="character-str">Strength :</label> <select
										id="select-str" class="custom-select">
										<option selected>Choose...</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
										<option value="16">16</option>
										<option value="17">17</option>
										<option value="18">18</option>
									</select>
								</div>
								<div class="col stat-select">
									<label for="character-agi">Agility :</label> <select
										id="select-agi" class="custom-select">
										<option selected>Choose...</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
										<option value="16">16</option>
										<option value="17">17</option>
										<option value="18">18</option>
									</select>
								</div>
								<div class="col stat-select">
									<label for="character-for">Fortitude :</label> <select
										id="select-for" class="custom-select">
										<option selected>Choose...</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
										<option value="16">16</option>
										<option value="17">17</option>
										<option value="18">18</option>
									</select>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col stat-select">
									<label for="character-int">Intelligence :</label> <select
										id="select-int" class="custom-select">
										<option selected>Choose...</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
										<option value="16">16</option>
										<option value="17">17</option>
										<option value="18">18</option>
									</select>
								</div>
								<div class="col stat-select">
									<label for="character-mag">Magic :</label> <select
										id="select-mag" class="custom-select">
										<option selected>Choose...</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
										<option value="16">16</option>
										<option value="17">17</option>
										<option value="18">18</option>
									</select>
								</div>
								<div class="col stat-select">
									<label for="character-lck">Luck :</label> <select
										id="select-lck" class="custom-select">
										<option selected>Choose...</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
										<option value="16">16</option>
										<option value="17">17</option>
										<option value="18">18</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-2">

						<div class="col-md-6">
							<label for="character-race">Race :</label> <select
								id="select-race" class="custom-select">
								<option selected>I am a</option>
								<option value="Dwarf">Dwarf</option>
								<option value="Elf">Elf</option>
								<option value="Human">Human</option>
								<option value="Orc">Orc</option>
							</select>
						</div>
						<div class="col-md-6">
							<label for="character-class">Class :</label> <select
								id="select-class" class="custom-select">
								<option selected>I am a</option>
								<option value="Fighter">Fighter</option>
								<option value="Mage">Mage</option>
								<option value="Thief">Thief</option>
								<option value="Healer">Healer</option>
								<option value="Tank">Tank</option>
							</select>
						</div>

					</div>

				</div>
			</div>
			<div class="card-footer w-75 d-flex justify-content-end bg-primary">
				<button id="create" type="button" class="btn btn-success">Create</button>
			</div>
		</div>
	</div>


	<div class="container mt-3">
		<div class="row d-flex justify-content-center">
			<div class="col-md-4">
				<div class="card">
					<div
						class="card-header text-white d-flex justify-content-center bg-primary">Class
						filter</div>
					<div class="card-body bg-secondary">
						<div class="row d-flex justify-content-center">
							<div class="col">
								<label class="checkbox-inline text-white mr-4" id="fighter"><input
									type="checkbox" value="Fighter"> <img
									src="../images/fighter_logo.png" class="img-circle person"
									alt="Random Name" width="50" height="50"> Fighter</label>
							</div>
							<div class="col">
								<label class="checkbox-inline text-white" id="mage"><input
									type="checkbox" value="Mage"><img
									src="../images/mage_logo.png" class="img-circle person"
									alt="Random Name" width="50" height="50"> Mage</label>
							</div>
						</div>
						<div class="row d-flex justify-content-center">
							<div class="col">
								<label class="checkbox-inline text-white mr-4" id="thief"><input
									type="checkbox" value="Thief"><img
									src="../images/thief_logo.png" class="img-circle person"
									alt="Random Name" width="50" height="50"> Thief</label>
							</div>
							<div class="col">
								<label class="checkbox-inline text-white mr-4" id="healer"><input
									type="checkbox" value="Healer"><img
									src="../images/healer_logo.png" class="img-circle person"
									alt="Random Name" width="50" height="50"> Healer</label>
							</div>
						</div>
						<div class="row d-flex justify-content-center">
							<label class="checkbox-inline text-white mr-4" id="tank"><input
								type="checkbox" value="Tank"><img
								src="../images/tank_logo.png" class="img-circle person"
								alt="Random Name" width="50" height="50"> Tank</label>
						</div>
					</div>
				</div>
			</div>


			<div class="col-md-4">
				<div class="card">
					<div
						class="card-header text-white d-flex justify-content-center bg-primary">Race
						filter</div>
					<div class="card-body bg-secondary">
						<div class="row d-flex justify-content-center">
							<div class="col">
								<label class="checkbox-inline text-white mr-3" id="dwarf"><input
									type="checkbox" value="Dwarf"><img
									src="../images/dwarf_logo02.png" class="img-circle person"
									alt="Random Name" width="50" height="50"> Dwarf</label>
							</div>
							<div class="col">
								<label class="checkbox-inline text-white mr-3" id="elf"><input
									type="checkbox" value="Elf"><img
									src="../images/elf_logo.png" class="img-circle person"
									alt="Random Name" width="50" height="50"> Elf</label>
							</div>
						</div>
						<div class="row d-flex justify-content-center">
							<div class="col">
								<label class="checkbox-inline text-white mr-3" id="human"><input
									type="checkbox" value="Human"><img
									src="../images/human_icon.png" class="img-circle person"
									alt="Random Name" width="50" height="50"> Human</label>
							</div>
							<div class="col">
								<label class="checkbox-inline text-white mr-3" id="oorc"><input
									type="checkbox" value="Orc"><img
									src="../images/orc_logo.png" class="img-circle person"
									alt="Random Name" width="50" height="50"> Orc</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-3 mb-3">
		<div class="row d-flex justify-content-center">
			<div
				class="card-header w-75 text-white d-flex justify-content-center bg-primary">Character
				Vault</div>
			<div class="card w-75" id="card-template">
				<div class="card-body bg-secondary" id="template-body">
					<ul class="list-group comments-list">



					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- ENTRY TEMPLATE -->
	<ul class="list-group bg-secondary d-none"
		id="comment-template-character">
		<li class="list-group-item bg-secondary"
			id="list-group-template-character">

			<div class="card">
				<div
					class="card-header text-white bg-primary d-flex justify-content-center">Hero</div>
				<div class="card-body bg-secondary" id="hero-card">
					<div class="row d-flex justify-content-center">

						<label>Character name : </label>
						<!-- <p class="name"></p> -->
						<h5>
							<span class="badge badge-pill badge-primary ml-2 name"> </span>
						</h5>
					</div>
					<div class="row mt-3" id="logo-row">
						<div class="col">
							<img src="" title="" class="img-template-race" alt="Random Name"
								width="100" height="100">
						</div>
						<div class="col">
							<img src="" title="" class="img-template-class" alt="Random Name"
								width="100" height="100">
						</div>
					</div>


					<div class="row status-row d-flex justify-content-center mt-2 mb-2">
						<div class="row">
							<p class="status-message">Armed and ready to roll!</p>
						</div>
						<div class="d-block w-100">
							<div class="progress mr-3">
								<div
									class="progress-bar bg-success progress-bar-striped progress-bar-animated"
									role="progressbar" aria-valuenow="100"
									data-label="Hero is off somewhere!" aria-valuemin="0"
									aria-valuemax="100" style="width: 100%"></div>
							</div>
						</div>
						<!-- <div class="col">
							<label>Race : </label>
							<p class="race"></p>
							<h5>
								<span class="badge badge-pill badge-primary race"> </span>
							</h5>
						</div>
						<div class="col">
							<label>Class : </label>
							<p class="characterClass"></p>
							<h5>
								<span class="badge badge-pill badge-primary characterClass">
								</span>
							</h5>
						</div>
						<div class="col">
							<label>Level : </label>
							<p class="level"></p>
							<h5>
								<span class="badge badge-pill badge-primary level"> </span>
							</h5>
						</div> -->
					</div>
					<div class="row">
						<div class="col-md-4">
							<label>STR : </label>
							<!-- <p class="strength"></p> -->
							<h5>
								<span class="badge badge-pill badge-primary strength"> </span>
							</h5>
						</div>
						<div class="col-md-4">
							<label>AGI : </label>
							<!-- <p class="agility"></p> -->
							<h5>
								<span class="badge badge-pill badge-primary agility"> </span>
							</h5>
						</div>
						<div class="col-md-4">
							<label>FOR : </label>
							<!-- <p class="fortitude"></p> -->
							<h5>
								<span class="badge badge-pill badge-primary fortitude"> </span>
							</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<label>INT : </label>
							<!-- <p class="intelligence"></p> -->
							<h5>
								<span class="badge badge-pill badge-primary intelligence">
								</span>
							</h5>
						</div>
						<div class="col-md-4">
							<label>MAG : </label>
							<!-- <p class="magic"></p> -->
							<h5>
								<span class="badge badge-pill badge-primary magic"> </span>
							</h5>
						</div>
						<div class="col-md-4">
							<label>LCK : </label>
							<!-- <p class="luck"></p> -->
							<h5>
								<span class="badge badge-pill badge-primary luck"> </span>
							</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<label>Swordfighting: </label>
							<!-- <p class="swordfighting"></p> -->
							<h5>
								<span class="badge badge-pill badge-primary swordfighting">
								</span>
							</h5>
						</div>
						<div class="col-md-4">
							<label>Acrobatics: </label>
							<!-- <p class="acrobatics"></p> -->
							<h5>
								<span class="badge badge-pill badge-primary acrobatics">
								</span>
							</h5>
						</div>
						<div class="col-md-4">
							<label>Defense: </label>
							<!-- <p class="defense"></p> -->
							<h5>
								<span class="badge badge-pill badge-primary defense"> </span>
							</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<label>Investigation: </label>
							<!-- <p class="investigation"></p> -->
							<h5>
								<span class="badge badge-pill badge-primary investigation">
								</span>
							</h5>
						</div>
						<div class="col-md-4">
							<label>Spellcasting: </label>
							<!-- <p class="spellcasting"></p> -->
							<h5>
								<span class="badge badge-pill badge-primary spellcasting">
								</span>
							</h5>
						</div>
						<div class="col-md-4">
							<label>Gambit: </label>
							<!-- <p class="gambit"></p> -->
							<h5>
								<span class="badge badge-pill badge-primary gambit"> </span>
							</h5>
						</div>
					</div>
				</div>

			</div>
			<div class="card-footer bg-primary d-flex justify-content-end">
				<button data-toggle="modal" data-target="#confirmDeleteModal"
					type="button" class="btn btn-danger btn-sm remove-character">Delete</button>
			</div>
			</div>

		</li>
	</ul>

	<div class="modal draggable fade" id="confirmDeleteModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content" id="delete-modal">
				<div class="modal-header bg-primary">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body bg-secondary text-white">
					<div class="row mt-3 d-flex justify-content-center">
						<p>Are you sure you want to delete your character?</p>
					</div>
					<div class="row mt-3 d-flex justify-content-end">
						<button id="confirm-delete" type="button"
							class="btn btn-danger mr-3">Yes</button>
						<button type="button" class="btn btn-primary mr-3"
							data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal draggable fade" id="heroLimitExceededModal"
		tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body bg-secondary text-white">
					<div class="row mt-3 d-flex justify-content-center">
						<p class="response-text ml-3 mr-3"></p>
					</div>
					<div class="row mt-3 d-flex justify-content-end">
						<button type="button" class="btn btn-danger mr-3"
							data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal draggable fade" id="notEnoughCrystalsModal"
		tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body bg-secondary text-white">
					<div class="row mt-3 d-flex justify-content-center">
						<p>Not enough crystals available!</p>
					</div>
					<div class="row mt-3 d-flex justify-content-end">
						<button type="button" class="btn btn-primary mr-3"
							data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal draggable fade" id="spendCrystalsForHeroModal"
		tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body bg-secondary text-white">
					<div class="row mt-3 d-flex justify-content-center">
						<p class="response-text ml-3 mr-3"></p>
					</div>
					<div class="row mt-3 d-flex justify-content-end">
						<button id="spend-crystals" type="button"
							class="btn btn-success mr-3">Spend crystals</button>
						<button type="button" class="btn btn-danger mr-3"
							data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="approveHeroModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body bg-secondary text-white">
					<p class="response-text ml-3 mr-3"></p>
				</div>
				<div class="modal-footer bg-primary">
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
					<button id="approve-hero" type="button" class="btn btn-success">Yes</button>
				</div>
			</div>
		</div>
	</div>




	<!-- Footer -->
	<footer class="text-center">
		<a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a><br> <br>
		<p>This amateur attempt at a browser game site is made by GU and
			IL</p>
	</footer>





	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="../../javascript/characterCreator.js"></script>
	<!-- <script src="../../javascript/selectorControl.js"></script> -->
	<script src="../../javascript/resourceInfo.js"></script>
	<script src="../../javascript/statControl.js"></script>
</body>