<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>BROWSERGAME</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link
	href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic"
	rel="stylesheet"> -->
<link rel="stylesheet" href="..\css\theme\_bootswatch.scss">
<link rel="stylesheet" href="..\css\theme\_variables.scss">
<link rel="stylesheet" href="..\css\theme\bootstrap.css">
<link rel="stylesheet" href="..\css\theme\bootstrap.min.css">
<link rel="stylesheet" href="..\css\views\profile.css">



</head>

<body>

	<nav
		class="navbar navbar-expand-lg navbar-dark bg-primary rounded-bottom sticky-top">

		<div class="container">


			<a class="navbar-brand" href="/profile"> <i class="fa fa-d-and-d"></i>
				Browsergame
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>

			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link"
						href="/character_creator"> <i class=""></i> Character Creator
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link"
						href="/shop"> <i class="fa fa-shopping-cart"></i>Shop
					</a></li>
					<li class="nav-item active"><a class="nav-link" href="#">
							<i class="fa fa-facebook-f"></i> Facebook <span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item active"><a class="nav-link" href="#">
							<i class="fa fa-reddit"></i> Reddit
					</a></li>
					</li>
					<li class="nav-item active"><a class="nav-link" href="#">
							<i class="fa fa-twitch"></i>Twitch
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link"
						href="/profile"> <i class="fa fa-user"></i>Profile
					</a></li>
				</ul>


			</div>


		</div>

	</nav>

	<div class="row mt-5 d-flex justify-content-center">
		<img src="../images/pic_1171831236_1.png" width="150px" height="150px"
			class="mr-3" id="char-picture" alt="...">
	</div>
	<div class="container mt-4 bg-primary">
		<div class="row" id="row-of-user-info">
			<div class="col-3">
				<div class="form-group">
					<label for="user">Username</label> <input type="text"
						class="form-control" id="username" placeholder="Username" val="">
				</div>
			</div>
			<div class="col-3">
				<div class="form-group">
					<label for="email">Email</label> <input type="email"
						class="form-control" id="email" placeholder="Email" val="">
				</div>
			</div>
			<div class="col-3">
				<div class="form-group">
					<label for="password">Password</label> <input type="password"
						class="form-control" id="password" placeholder="Password" val="">
				</div>
			</div>
			<div class="col-3">
				<div class="form-group">
					<label for="ingame-name">Ingame name</label> <input type="text"
						class="form-control" id="ingame-name" placeholder="Ingame name"
						val="">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">

			<ul class="list-group mt-3 characters-in-profile-list">



			</ul>


		</div>


		<div class="col-4"></div>
	</div>


	<div class="media bg-primary d-none" id="char-info-media">
		<div class="row d-flex justify-content-center">
			<img src="../images/Character Portrait One.jpg" width="150px"
				height="150px" class="mr-3" id="char-picture" alt="...">
		</div>

		<div class="media-body">
			<h5 id="char-info-heading">
				<div class="form-group mr-3 ml-3">
					<label for="character-name">Character name:</label> <input
						type="text" class="form-control character-name" width="100px"
						id="character-name" placeholder="Character name" val="">
				</div>
			</h5>
			<h5 id="char-info-heading">
				<div class="form-group mr-3 ml-3">
					<label for="character-race">Race:</label> <input type="text"
						class="form-control character-race" id="character-race"
						placeholder="Race" val="">
				</div>
			</h5>
			<h5 id="char-info-heading">
				<div class="form-group mr-3 ml-3">
					<label for="character-class">Character class:</label> <input
						type="text" class="form-control character-class"
						id="character-class" placeholder="Character class" val="">
				</div>
			</h5>
		</div>
	</div>

	<!-- Footer -->
	<footer class="text-center">
		<a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a><br> <br>
		<p>This amateur attempt at a browser game site is made by GU and
			IL</p>
	</footer>






	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<script src="../../javascript/profileInfo.js"></script>
	<script src="../javascript/characterInProfile.js"></script>

</body>