<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>BROWSERGAME</title>


<!-- <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">
<!-- <link
	href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic"
	rel="stylesheet"> -->
<link rel="stylesheet" href="css\theme\_bootswatch.scss">
<link rel="stylesheet" href="css\theme\_variables.scss">
<link rel="stylesheet" href="css\theme\bootstrap.css">
<link rel="stylesheet" href="css\theme\bootstrap.min.css">
<link rel="stylesheet" href="css\views\training.css">



</head>

<body>

	<nav
		class="navbar navbar-expand-lg navbar-dark bg-primary rounded-bottom sticky-top">

		<div class="container">


			<a class="navbar-brand" href="/profile"> <i class="fa fa-d-and-d"></i>
				Browsergame
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>

			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active mr-1"><a class="nav-link"
						href="/missions"> <i class="fa fa-id-badge mr-2"></i>Missions
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link"
						href="/character_creator"> <i class="fa fa-id-badge mr-2"></i>Characters
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link"
						href="/shop"> <i class="fa fa-shopping-cart mr-2"></i>Shop
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link" href="#">
							<i class="fa fa-facebook-f mr-2"></i> Facebook <span
							class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link" href="#">
							<i class="fa fa-reddit mr-2"></i> Reddit
					</a></li>
					</li>
					<li class="nav-item active mr-1"><a class="nav-link" href="#">
							<i class="fa fa-twitch mr-2"></i>Twitch
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link"
						href="/profile"> <i class="fa fa-user mr-2"></i>Profile
					</a></li>
					<li class="nav-item active"><a class="nav-link" href=#><i
							class="fas fa-medal mr-1"></i> </a></li>
					<li class="nav-item active mr-1"><a class="nav-link"
						id="guildPoints" href=#> </a></li>
					<li class="nav-item active"><a class="nav-link" href=#> <i
							class="fa fa-coins"></i>
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link" id="gold"
						href=#> </a></li>
					<li class="nav-item active"><a class="nav-link" href=#> <i
							class="fa fa-gem"></i>
					</a></li>
					<li class="nav-item active mr-1"><a class="nav-link"
						id="crystal" href=#> </a></li>
				</ul>
			</div>
		</div>

	</nav>

	<div class="container text-center mt-5">
		<h3>TRAINING CATALOGUE</h3>
		<br>

		<div class="row">

			<ul class="list-group-training" id="training-list">

			</ul>
			<ul class="list-group d-none" id="template-training">
				<li class="list-group-item mt-3" id="list-group-template-training">
					<div class="card">
						<div class="card-body text-white">
							<div class="row d-flex justify-content-center">
								<h5 class="training-title" id="training-title"></h5>
							</div>
							<div class="row mt-3 d-flex justify-content-center">
								<div class="col">
									<img class="img-fluid training-image" id="img-training" src=""
										alt="...">
								</div>
								<div class="col" id="info-row">
									<div class="col">
										<i class="fa fa-clock mr-2"></i><label for="training-time">Time
											:</label>
										<p class="training-time" id="training-time"></p>
									</div>
									<div class="col">
										<i class="fa fa-coins mr-2"></i><label
											for="training-gold-cost">Gold Cost :</label>
										<p class="training-gold-cost" id="training-gold-cost"></p>
									</div>
									<div class="col">
										<i class="fa fa-star mr-2"></i><label for="training-skill">Skill
											:</label>
										<p class="training-skill" id="training-skill"></p>
									</div>
									<div class="col">
										<i class="fa fa-sun mr-2"></i><label for="training-difficulty">Difficulty
											:</label>
										<p class="training-difficulty" id="training-difficulty"></p>
									</div>
								</div>
							</div>
							<div class="row d-flex justify-content-center mt-3">
								<label for="description"><i class="fa fa-edit mr-2"></i>Description:</label>
							</div>
							<div class="row d-flex justify-content-center">
								<p class="training-description" id="training-description"></p>
							</div>
							<div class="row d-flex justify-content-center">
								<div class="form-group ml-3" id="form-group">
									<label for="exampleSelect1"></label>Who will you send training?
									<select class="form-control selected-hero" id="exampleSelect1">
										<option>Choose now</option>

									</select>
								</div>
							</div>

							<div class="card-footer bg-primary text-white">
								<button data-toggle="modal" data-target="#confirmTrainingModal"
									type="button" class="btn btn-danger btn-sm start-training">Start
									training</button>
							</div>
						</div>
					</div>
				</li>
			</ul>


			<div class="modal fade" id="confirmTrainingModal" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header bg-primary">
							<h5 class="modal-title text-white">Start training</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body bg-secondary text-white">Are you sure
							you want to send this hero on training?</div>
						<div class="modal-footer bg-primary">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">No</button>
							<button id="confirm-training" type="button"
								class="btn btn-success">Yes</button>
						</div>
					</div>
				</div>
			</div>


			<div class="modal fade" id="goldNotificationModal" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header bg-primary">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body bg-secondary text-white">Not enough
							gold to begin this training.</div>
						<div class="modal-footer bg-primary">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Understood</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="heroNotificationModal" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header bg-primary">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body bg-secondary text-white">This hero
							cannot begin training until they are free.</div>
						<div class="modal-footer bg-primary">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Understood</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Footer -->
	<footer class="text-center">
		<a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a><br> <br>
		<p>This amateur attempt at a browser game site is made by GU and
			IL</p>
	</footer>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="../javascript/training.js"></script>
	<script src="../javascript/resourceInfo.js"></script>
	<script src="../javascript/keyTraining.js"></script>

</body>