<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" type="image/x-icon"
	href="../../images/favicon.ico" />
<title>User Comments</title>


<!-- <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">
<!-- <link
	href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic"
	rel="stylesheet"> -->
<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="css\theme\_bootswatch.scss">
<link rel="stylesheet" href="css\theme\_variables.scss">
<link rel="stylesheet" href="css\theme\bootstrap.css">
<link rel="stylesheet" href="css\theme\bootstrap.min.css">
<link rel="stylesheet" href="css\views\user_comments.css">



</head>

<body>

	<nav
		class="navbar navbar-expand-lg navbar-dark bg-primary rounded-bottom sticky-top">

		<div class="container">
			<a class="navbar-brand" href="#"><a href="#"><img
					src="https://fontmeme.com/permalink/200818/058b88461ca2ccdf82e1ea2e057b02eb.png"
					alt="guild-wars-2-font" border="0"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>

				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active mr-1"><a class="nav-link"
							href="infographics"> <i class="fa fa-user-shield mr-2"></i>Infographics
						</a></li>
						<li class="nav-item active mr-1 dropdown"><a
							class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
							role="button" aria-haspopup="true" aria-expanded="false"> <i
								class="fa fa-user-shield mr-2"></i>Templates
						</a>
							<div class="dropdown-menu bg-primary" style="">
								<a class="dropdown-item bg-primary" href="training_creator"><i
									class="fa fa-user-shield mr-2"></i>Training Creator</a> <a
									class="dropdown-item bg-primary" href="mission_creator"> <i
									class="fa fa-user-shield mr-2"></i>Mission Creator
								</a>
							</div></li>
						<li class="nav-item active mr-1 dropdown"><a
							class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
							role="button" aria-haspopup="true" aria-expanded="false"> <i
								class="fa fa-user-shield mr-2"></i>Shop Panels
						</a>
							<div class="dropdown-menu bg-primary" style="">
								<a class="dropdown-item bg-primary" href="admin_shop"><i
									class="fa fa-user-shield mr-2"></i>Admin Shop</a> <a
									class="dropdown-item bg-primary" href="user_purchases"> <i
									class="fa fa-user-shield mr-2"></i>User Purchases
								</a>
							</div></li>
						<li class="nav-item active mr-1 dropdown"><a
							class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
							role="button" aria-haspopup="true" aria-expanded="false"> <i
								class="fa fa-user-shield mr-2"></i>Users
						</a>
							<div class="dropdown-menu bg-primary" style="">
								<a class="dropdown-item bg-primary" href="user_panel"><i
									class="fa fa-user-shield mr-2"></i>User Panel</a> <a
									class="dropdown-item bg-primary" href="user_comments"> <i
									class="fa fa-user-shield mr-2"></i>User Comments
								</a>
							</div></li>
						<li class="nav-item active mr-1"><a class="nav-link"
							href="/admin_portal"> <i class="fa fa-user-shield mr-2"></i>Admin
								Portal
						</a></li>
					</ul>
				</div>
		</div>
	</nav>

	<div class="container mt-5">
		<div class="row d-flex justify-content-center">
			<h3>User Comments</h3>
		</div>
		<div class="row mt-3 d-flex justify-content-center">
			<ul class="list-group comments-list">



			</ul>
		</div>
		<!-- ENTRY TEMPLATE -->
		<ul class="list-group bg-secondary d-none"
			id="comment-template-comment">
			<li class="list-group-item bg-secondary"
				id="list-group-template-comment">
				<div class="row">
					<div class="col">
						<img class="img-fluid user-image" id="user-image"
							src="../images/User_icon.png" alt="...">
					</div>
					<div class="col mt-3">
						<div class="row">
							<i class="fa fa-user mr-2"></i>
							<p class="commenter-name"></p>
						</div>
						<div class="row">
							<i class="fa fa-envelope mr-2"></i>
							<p class="commenter-email"></p>
						</div>
					</div>
				</div>
				<div class="row ml-3 mt-3">
					<p class="commenter-comment"></p>
				</div>
				<div class="row d-flex justify-content-end">
					<button data-toggle="modal" data-target="#confirmDeleteModal"
						type="button" class="btn btn-danger remove-comment">Delete</button>
				</div>
			</li>
		</ul>

		<div class="modal draggable fade" id="confirmDeleteModal"
			tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header bg-primary">
						<h5 class="modal-title text-white">Delete comment</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body bg-secondary text-white">Are you sure
						you want to delete this comment?</div>
					<div class="modal-footer bg-primary">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">No</button>
						<button id="confirm-delete" type="button" class="btn btn-danger">Yes</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-5">
			<ul class="pagination">
				<li class="page-item disabled"><a class="page-link" href="#">&laquo;</a>
				</li>
				<li class="page-item active"><a class="page-link" href="#">1</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">4</a></li>
				<li class="page-item"><a class="page-link" href="#">5</a></li>
				<li class="page-item"><a class="page-link" href="#">&raquo;</a>
				</li>
			</ul>
		</div>
	</div>


	<!-- Footer -->
	<footer class="text-center">
		<a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a><br> <br>
		<p>This amateur attempt at a browser game site is made by GU and
			IL</p>
	</footer>





	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="../javascript/userComments.js"></script>
</body>