*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../../images/Background Five.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	color: white;
}

body {
	background-color: #363537;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	gradient: linear-gradient(#091236, #1E215D);
	font-family: 'Roboto', sans-serif;
}

.second-row {
	padding-top: 5em;
}

.col-popular{
	padding-top: 3em;
	padding-left: 2em;
}

.card-overview{
	padding-left: 5em;
}

#editUserImage {
	padding-left: 5em;
}

.information-col {
	padding-right: 5em;
}

.chart-container {
	padding-bottom: 15em;
}

.card-body {
	background-color: #363537;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	background-image: url("../../images/Old Blue Stone.jpg");
}

.modal-content {
	background-color: #363537;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	background-image: url("../../images/Old Blue Stone.jpg")
}

#list-group-template-user {
	background-color: #363537;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	gradient: linear-gradient(#091236, #1E215D);
	font-family: 'Roboto', sans-serif;
}

#list-group-template-user {
	background-image: url("../../images/Old Blue Stone.jpg")
}