body {
  background-image: url("../../images/Background Five.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.card-body {
	background-color: #363537;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	background-image:
		url("../../images/Old Blue Stone.jpg")
}

.modal-content {
	background-color: #363537;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	background-image:
		url("../../images/Old Blue Stone.jpg")
}

#list-group-template-shop{
	background-color: #363537;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	gradient: linear-gradient(#091236, #1E215D);
	font-family: 'Roboto', sans-serif;
}

#list-group-template-shop{
	background-image:
		url("../../images/Old Blue Stone.jpg")
}