body {
	background-image: url("../../images/Background Two.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed;
}

.card-body {
	background-color: #363537;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	color: white;
	background-image:
		url("../../images/Old Blue Stone.jpg");
}

#template-body::-webkit-scrollbar {
width: 20px;
}

#template-body::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
}

#template-body::-webkit-scrollbar-thumb {
background:rgb(9, 174, 224);
}

#template-body{
	overflow-y: scroll;
	height: 560px;
	overflow-x: hidden;
}

.modal-content {
	background-color: primary;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	color: white;
	background-image:
		url("../../images/Old Blue Stone.jpg");
}

.list-group-item {
	background-color: primary;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	color: white;
	background-image:
		url("../../images/Old Blue Stone.jpg");
}