*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../../images/Background Five.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	color: white;
}

body {
	background-color: #363537;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	gradient: linear-gradient(#091236, #1E215D);
	font-family: 'Roboto', sans-serif;
}

#mission-list {
	display: grid;
	grid-template-columns: 600px 600px;
	grid-gap: 20px;
}

#stats-row {
	display: grid;
	grid-template-columns: 150px 150px;
	grid-gap: 20px;
}

.edit-modal {
	width: 90%;
	max-width: 1200px;
}

#editDescription {
	width: 90%;
}

.first-row {
	padding-left: 5em;
	padding-right: 5em;
}

.card-body {
	background-color: #363537;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	background-image: url("../../images/Old Blue Stone.jpg");
}

.mission-stat-one:first-letter {
	text-transform: capitalize;
}

.mission-stat-two:first-letter {
	text-transform: capitalize;
}

.mission-skill-one:first-letter {
	text-transform: capitalize;
}

.mission-skill-two:first-letter {
	text-transform: capitalize;
}

.btn {
	border-radius: 15px;
}

.mission-image{
	border-radius: 15px;
}

.stats-col{
	display: none;
	opacity: 0;
	transition: opacity 1s ease-out;
	transition-delay: 250ms;
}

.list-group-item:hover{
	cursor: pointer;
}

.list-group-item:hover .mission-image{
	-webkit-transform: translate(2%, -89%);
	transform: translate(2%, -89%);
}

.mission-image{
	transition: transform 1s ease-out;
}

.mission-description{
	font-style: italic;
	opacity: 1;
	transition: opacity 1s ease-out;
}

.edit-mission{
	opacity: 0;
	display: none;
	transition: opacity 1s ease-out;
	transition-delay: 250ms;
}

.remove-mission{
	opacity: 0;
	display: none;
	transition: opacity 1s ease-out;
	transition-delay: 250ms;
}

.modal-content {
	background-color: #363537;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	background-image: url("../../images/Old Blue Stone.jpg")
}

#list-group-template-mission {
	background-color: #363537;
	border-radius: 15px;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	gradient: linear-gradient(#091236, #1E215D);
	font-family: 'Roboto', sans-serif;
	text: #FAFAFA;
}

#list-group-template-mission {
	background-image: url("../../images/Old Blue Stone.jpg")
}