body {
    background-image: url("../../images/Background Eight.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  
  #char-info-media{
    width: 700px;
    height: 280px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: large;
    color: black;
    pointer-events: none;
    border-radius: 10px;
  }
  
  #char-info-heading{
    color: black;
  }
  
  #char-picture{
    border-radius: 75px;
  }

  #row-of-user-info{
    color: black;
  }