body {
	background-color: #363537;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	gradient: linear-gradient(#091236, #1E215D);
	font-family: 'Roboto', sans-serif;
}

body {
	background-image: url("../../images/Shop Background.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
}

#shop-list {
	display: grid;
	grid-template-columns: 250px 250px 250px 250px;
	grid-gap: 20px;
}

#template-body {
	overflow-y: scroll;
	height: 383px;
	overflow-x: hidden;
}

#template-body::-webkit-scrollbar {
	width: 20px;
}

#template-body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
}

#template-body::-webkit-scrollbar-thumb {
	background: rgb(9, 174, 224);
}

#main-container {
	padding: 100px;
	display: flex;
}

.card-body {
	background-color: #363537;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	background-image: url("../../images/Old Blue Stone.jpg")
}

.modal-content {
	background-color: #363537;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	background-image: url("../../images/Old Blue Stone.jpg")
}

.btn {
	border-radius: 15px;
}

/* SEARCH BUTTON */
#search {
	position: relative;
	background-color: #4CAF50;
	border: none;
	color: #FFFFFF;
	text-align: center;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}

#search:after {
	content: "";
	background: #90EE90;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px !important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s
}

#search:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
}

/* SHOP SPECIFIC CSS BELOW  */
.carousel-inner {
	width: 560px;
	height: 340px;
}

#carousel-image {
	width: 560px;
	height: 340px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media ( max-width : 600px) {
	.carousel-caption {
		display: none;
	}
}

.product-title {
	text-transform: uppercase;
}

#list-group-template-shop {
	background-color: #363537;
	text: #FAFAFA;
	toggleBorder: #6B8096;
	gradient: linear-gradient(#091236, #1E215D);
	font-family: 'Roboto', sans-serif;
	color : white;
}

#list-group-template-shop {
	border-radius: 15px;
	background-image: url("../../images/Old Blue Stone.jpg")
}

#img-shop {
	border-radius: 15px;
	width: 200px;
	height: 200px;
}

#shop-item-stock {
	width: 26px;
	height: 26px;
	text-align:center;
	display: inline-block;
	border-radius: 50%;
	padding: 2px;
	background-color: #77b300;
}
